.header-bg {
  background: var(--cor-11);
}

.header {
  display: flex;
  justify-content: space-between;
  /* para quebrar a logo do menu */
  flex-wrap: wrap;
  align-items: center;
  /* gap para quando ficar responsivo n grudar o menu tanto na logo */
  gap: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.header-menu a {
  /* padding para aumentar a area de contato com o dedo */
  padding: 16px 0px;
  display: inline-block;
  position: relative;
}

/* after da linha q aprece por baixo, lembrando q width 0 pq começa em 0 paera depois ao passar o mouse ficar 100 com a transition de 0.3sec */
.header-menu a::after {
  content: "";
  display: block;
  margin-top: 4px;
  width: 0;
  height: 2px;
  background: var(--cor-p1);
  transition: 0.3s;
  position: absolute;
}

.header-menu a:hover {
  color: var(--cor-p1);
}

/* ele ganhando 100 ao passar o mouse */
.header-menu a:hover::after {
  width: 100%;
}

/* meun */
.menu-ab {
  display: none;
}

@media (max-width: 800px) {
  .header > a img {
    width: 50px;
    height: 50px;
  }

  .menu-ab {
    display: block;
  }

  .header {
    background: var(--cor-12);
  }

  .header-menu {
    display: none;
  }
}
