.projeto-bg{
  background: var(--cor-11);
  box-shadow: inset 0 -120px white, inset 0 120px white;
}

.projetos{
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: 32px;
 margin-top: 120px;
}

.projetos-galeria{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  background: #1F1F1F;
  padding: 60px;
  border-radius: 5px;
}

.projetos-galeria p{
  margin-top: 10px;
}

.projetos .titulo-maior{
  max-width: 5ch;
}

.projetos p{
  display: flex;
  align-items: center;
  gap: 8px;
}

.projetos p::before{
  content: "";
  display: block;
  width: 12px;
  height: 8px;
  background: var(--cor-p1);
  transition: 0.3s;
}

.projetos a:hover p::before{
  width: 24px;
}

@media (max-width: 800px){
  .projeto-bg{
    background: var(--cor-11);
    padding-top: initial;
    padding-bottom: initial;
    box-shadow: none;
    margin-top: 60px;
  }

  .projetos{
    grid-template-columns: 1fr;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-top: 60px;
  }

  .projetos-galeria{
    grid-template-columns: 1fr;
    background: var(--cor-11);
    padding: 0;
  }

  .projetos .titulo-maior{
    max-width: initial;
  }
}